<footer class="mt-5 d-flex">
    <div>
        <h4 class="ms-4">Menu</h4>
        <nav>
            <ul>
                <li>Home</li>
                <li>Estimation</li>
                <li>Nous contacter</li>
            </ul>
        </nav>
    </div>
    <div>
        <h4>Ou nous trouver?</h4>
    </div>
</footer>