body {
    background-color: #fff;
}

.navbar, footer {
    background-color: #6f42c1;
    color: #FFF;
}

.logo {
    width: 8rem;
}

.nav-link {
    color:#FFF;
}


.card {
    width: 38rem;
}

footer ul {
    list-style-type: none;
}


.table {
    width: 25%;
}