{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
    <section>
        <a href={{path('app_dashoard')}}>Bien Immobilier</a>
        <a href={{path('app_dashoard_user')}}>Users</a>
    </section>


    <table class="table table-sm">
        <thead>
            <tr>
            
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
{% endblock %}
